body {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
	background:#333;
	margin:0;
	padding:0;
	
}
.touchyjs-header{
    background: url(../images/player-bg.png) 0 40px no-repeat;
    color: white;
    height: 154px;
    line-height: 30px;
	overflow:hidden;
}
.touchyjs-footer{
   	background:transparent url(../images/tn-bg.png) 0 0 repeat-x;
    height: 45px;
    line-height: 30px;
	position:absolute;
	bottom:0;
	width:100%;
	margin:0;
	
}

#titlebar {
	display:block;
	height:52px;
	background:url(../images/bg-header.png) 0 0 no-repeat;
}

.touchyjs-footer .tab-navigator a{
	display:block;
	float:left;
	width:106px;
	text-align:center;
	color:#fff;
	text-decoration:none;

	height:45px;
	text-shadow: 2px 1px #000;
	font-weight:bold;
	font-size:10px;
	margin-right:1px;
	
}
.touchyjs-footer .tab-navigator a .icon {
	width:25px;
	height:25px;
	display:block;
	margin:auto;
	margin-top:3px;
	margin-bottom:0;
}
.touchyjs-footer .tab-navigator a .title {
	margin-top:2px;
	top:30px;
	text-align:center;
	display:block;
	line-height:10px;
}
.touchyjs-footer .tab-navigator a.activity .icon {
	background:url(../images/icon-activity.png) center top no-repeat;
}
.touchyjs-footer .tab-navigator a.discover .icon{
	background:url(../images/icon-discover.png) center 2px no-repeat;
}
.touchyjs-footer .tab-navigator a.profile .icon{
	background:url(../images/icon-profile.png) center 2px no-repeat;

}

 .touchyjs-footer .tab-navigator a.activity.active .icon {
	background-position:center -35px;
}
.touchyjs-footer .tab-navigator a.discover.active .icon {
	background-position:center -30px;
}
 .touchyjs-footer .tab-navigator a.profile.active .icon {
	background-position:center -30px;
}

.touchyjs-footer .tab-navigator a.profile {
	margin-right:0 !important;
}

.touchyjs-footer .tab-navigator a.active, .touchyjs-footer .tab-navigator a:hover{
	border-radius:10px;
	background: transparent url(../images/tab-active-bg.png) 0 0 repeat;
	
}

.tab-view .tab {
	display:none;

}
.tab.active {
	display:block;
}
.tab-view-buttons {
	display:block;
	height:38px;
	background:#333 url(../images/playlist_filter_btn_bg.png)0 5px no-repeat;
	padding-top:5px;
}

.tab-view-buttons a {
	display:inline-block;
	height:40px;
	width:102px;
	margin:0;
	text-align:center;
	line-height:35px;
	color:#d8d39f;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	text-shadow:1px 1px #333;

}

#music-player #player-controls {
	display:block;
	position:absolute;
	top:110px;
	left:120px;
}
#music-player .next-song {
	background:url(../images/ff_btn.png) 0 0 no-repeat;
	display:block;
	width:39px;
	height:39px;
	float:left;
	margin-top:4px;
}
#music-player .previous-song {
	background:url(../images/rw_btn.png) 0 0 no-repeat;
	display:block;
	width:39px;
	height:39px;
	float:left;
	margin-top:4px;
}
#music-player .play-pause{
	background:url(../images/play_btn.png) 0 0 no-repeat;
	display:block;
	width:42px;
	height:43px;
	float:left;
}
#music-player #song-info {
	position:absolute;
	left:120px;
	top:64px;
	line-height:18px;
}
#music-player #song-title {
	font-size:18px;
	color:#d8d39f;
	text-shadow: 2px 1px #333;
	height:20px;
	line-height:18px;
}
#music-player #song-playlist {
	font-size:10px;
	color:#c0bfbf;
	line-height:10px;
}

.tab-view, .tab-view div {
	width:100%;
	display:block;
}
.table-view{
	margin:0;
	padding:0;
	width:100%;
	display:block;
	height:auto;
}

.table-view a.cell {
	display:block;
	background:#fff;
	border-top:1px solid #333;
	padding:10px 5px 5px 10px;
	color:#333;
	text-decoration:none;
	width:100%;
	position:relative;
	background:transparent url(../images/activity-bg-profile.png) 0 0 no-repeat;
	height:48px;
}
.table-view a.cell img {
	height:35px;
	width:35px;
	margin-right:5px;
	float:left;
}



.table-view a.cell span{
	color:#8b8867;
	font-weight:bold;
	
}
.activity-feed li {
	margin:0;
	padding:0;
	background:transparent url(../images/activity-bg.png) 0 0 no-repeat;
	height:90px;
	overflow:hidden;
	position:relative;
	width:320px;
}
.activity-feed .thumbnail{
	position:absolute;
	top:20px;
	left:16px;
	width:40px;
	height:40px;
}

.activity-feed .add-btn {
	display:block;
	overflow:hidden;
	width:33px;
	height:0;
	padding-top:33px;
	background: transparent url(../images/activity_add_btn.png) 0 0 no-repeat;
	position:absolute;
	right:11px;
	top:20px;
	border:none;
}

.activity-feed .play-btn {
	display:block;
	overflow:hidden;
	width:22px;
	height:0;
	padding-top:25px;
	background: transparent url(../images/activity_play_btn.png) 0 0 no-repeat;
	position:absolute;
	right:20px;
	top:50px;
	border:none;
}

.activity-feed img {
	width:40px;
	height:40px;
}
.activity-feed .notification{
	width:190px;
	height:700px;
	display:block;
	position:absolute;
	top:15px;
	left:75px;
	font-size:11px;
	color:#000;
}

#profile .activity-feed li {
	background:transparent url(../images/activity-bg-profile.png) 0 0 no-repeat;
	height:69px;
}
#profile .activity-feed .notification{ 
	left:20px;
}

#profile .add-btn {
	top:10px;
}
#profile .play-btn {
	top:40px;
}
.block-menu a {
	display:block;
	background:#fff;
	border-top:1px solid #333;
	padding:15px;

	text-decoration:none;
	color:#8b8867;
	font-weight:bold;
	background:transparent url(../images/activity-bg-profile.png) 0 0 no-repeat;
}



.block-menu a:hover {
	background:#efefef;
}



h1, h1 a{
    color: #ffffff !important;
    font-size: 16px;
    text-decoration: none;
    margin: 0;
    text-align: center;
}
.header-back-btn{
    position:absolute;
	background:#fff;
	top:5px;
	left:5px;
	display:none;
	width:50px;
	height:0;
	padding-top:30px;
	overflow:hidden;
	background:url(../images/btn-back.png)0 0 no-repeat;
}
.header-back-btn.active {
	display:block;
}

.avatar-img, .weather-img{
	float:left;
	margin:5px;
}
.avatar-img img, .weather-img img{
	height:35px;
	width:35px;
	margin:0 0 0 5px;
	border-radius:5px;
}

.user-info {
	width:180px;
	float:left;
	color:#d8d39f;
	text-shadow:1px 1px #333;
	font-weight:bold;
}
.location {
	width:180px;
	display:block;
	color:#c0bfbf;
	text-shadow:1px 1px #333;
	font-size:10px;
	font-weight:normal;
}

.user-badges {
	clear:both;
	height:80px;
	width:300000em;
	margin-left:5px;
	
}
.user-badges .user-badge {
	display:block;
	float:left;
	text-align:center;
	color:#c0bfbf;
	text-shadow:1px 1px #333;
	font-size:10px;
	font-weight:bold;
	
}
.user-badges .user-badge img {
	display:block;
	width:55px;
	height:55px;
	margin-top:5px;
	margin-bottom:-2px;
}
/*A.btn-back {
    background:#ffffff;
    color:#000000;
    text-decoration:none;
    position:absolute;
    height:22px;
    line-height:22px;
    text-align:center;
    width:42px;
    border:1px solid #000000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}   
    A.btn-back:before {
        background:#ffffff;
        border:solid #000000;
        border-width:0 0 1px 1px;
        -webkit-transform: rotate(45deg) skew(10deg, 10deg);
        -moz-transform: rotate(45deg) skew(10deg, 10deg);
        -o-transform: rotate(45deg) skew(10deg, 10deg);
        transform: rotate(45deg) skew(10deg, 10deg);
        width:11px;
        height:11px;
        position:absolute;
        left:-7px;
        top:5px;
        content:"";
    }
*/

#profile {
	background: #333 url(../images/profile-bg.png)0 0 no-repeat;
}

.bottom-spacer {
	display:block;
	height:60px;
	clear:both;
}
.btn-back {
	position:absolute;
	top:0;
	left:0;
}
.touchyjs-content{
    background: #333;
	color:#fff;
	margin-bottom:200px;
	
}
.touchyjs-custom-view{
    background: white;
	position:absolute;
	opacity:1;

	width:100%;
	top:-100%;
	z-index:1000;
	left:0;
}
.touchyjs-content P{
    padding: 10px;
    font-size: 14px;
}