body {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
	background:#666;
	margin:0;
	padding:0;
}
.touchyjs-header{
    background: url(../images/player-bg.png) 0 0 no-repeat;
    color: white;
    height: 93px;
    line-height: 30px;
    padding: 10px;
	overflow:hidden;
}
.touchyjs-footer{
   	background:transparent url(../images/tn-bg.png) 0 0 repeat-x;
    height: 45px;
    line-height: 30px;
	position:absolute;
	bottom:0;
	width:100%;
	margin:0;
	border-top:2px solid #000;
	
}

.touchyjs-footer .tab-navigator a{
	display:block;
	float:left;
	width:106px;
	text-align:center;
	color:#fff;
	text-decoration:none;

	height:45px;
	text-shadow: 2px 1px #000;
	font-weight:bold;
	font-size:10px;
	margin-right:1px;
	
}
.touchyjs-footer .tab-navigator a .icon {
	width:25px;
	height:25px;
	display:block;
	margin:auto;
	margin-top:3px;
	margin-bottom:0;
}
.touchyjs-footer .tab-navigator a .title {
	margin-top:2px;
	top:30px;
	text-align:center;
	display:block;
	line-height:10px;
}
.touchyjs-footer .tab-navigator a.activity .icon {
	background:url(../images/icon-activity.png) center top no-repeat;
}
.touchyjs-footer .tab-navigator a.discover .icon{
	background:url(../images/icon-discover.png) center 2px no-repeat;
}
.touchyjs-footer .tab-navigator a.profile .icon{
	background:url(../images/icon-profile.png) center 2px no-repeat;

}

 .touchyjs-footer .tab-navigator a.activity.active .icon {
	background-position:center -35px;
}
.touchyjs-footer .tab-navigator a.discover.active .icon {
	background-position:center -30px;
}
 .touchyjs-footer .tab-navigator a.profile.active .icon {
	background-position:center -30px;
}

.touchyjs-footer .tab-navigator a.profile {
	margin-right:0 !important;
}

.touchyjs-footer .tab-navigator a.active, .touchyjs-footer .tab-navigator a:hover{
	border-radius:10px;
	background: transparent url(../images/tab-active-bg.png) 0 0 repeat;
	
}

.tab-view .tab {
	opacity:0;
	position:absolute;
}
.tab-view .active {
	opacity:1;
}



.table-view{
	margin:0;
	padding:0;
}
.activity-feed li {
	margin:0;
	padding:0;
	background:url(../images/activity-bg.png) 0 0 no-repeat;
	height:90px;
	overflow:hidden;
	position:relative;
	width:320px;
}
.activity-feed .thumbnail{
	position:absolute;
	top:20px;
	left:16px;
	width:40px;
	height:40px;
}

.activity-feed .add-btn {
	display:block;
	overflow:hidden;
	width:33px;
	height:0;
	padding-top:33px;
	background: url(../images/activity_add_btn.png) 0 0 no-repeat;
	position:absolute;
	right:11px;
	top:20px;
}

.activity-feed .play-btn {
	display:block;
	overflow:hidden;
	width:22px;
	height:0;
	padding-top:25px;
	background: url(../images/activity_play_btn.png) 0 0 no-repeat;
	position:absolute;
	right:20px;
	top:50px;
}

.activity-feed img {
	width:40px;
	height:40px;
}
.activity-feed .notification{
	width:300px;
	height:700px;
	display:block;
	position:absolute;
	top:15px;
	left:75px;
	font-size:11px;
	color:#000;
}

h1, h1 a{
    color: #ffffff !important;
    font-size: 16px;
    text-decoration: none;
    margin: 0;
    text-align: center;
}
.btn-back{
    left: 17px;
    top: 10px; 
    display: none;
}
A.btn-back {
    background:#ffffff;
    color:#000000;
    text-decoration:none;
    position:absolute;
    height:22px;
    line-height:22px;
    text-align:center;
    width:42px;
    border:1px solid #000000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}   
    A.btn-back:before {
        background:#ffffff;
        border:solid #000000;
        border-width:0 0 1px 1px;
        -webkit-transform: rotate(45deg) skew(10deg, 10deg);
        -moz-transform: rotate(45deg) skew(10deg, 10deg);
        -o-transform: rotate(45deg) skew(10deg, 10deg);
        transform: rotate(45deg) skew(10deg, 10deg);
        width:11px;
        height:11px;
        position:absolute;
        left:-7px;
        top:5px;
        content:"";
    }

.touchyjs-content{
    background: #666;
	color:#fff;
}
.touchyjs-custom-view{
    background: white;
	position:absolute;
	opacity:1;
	height:100%;
	width:100%;
	top:-100%;
	z-index:1000;
	left:0;
}
.touchyjs-content P{
    padding: 10px;
    font-size: 14px;
}